ul {
    display: inline;
    margin: 0;
    padding: 0;
}
ul li {
    display: inline-block;
}
ul li:hover {
    background: rgb(218, 218, 218);
}
ul li:hover ul {
    display: block;
}
ul li ul {
    position: absolute;
    width: 200px;
    display: none;
}
ul li ul li {
    background: rgb(218, 218, 218);
    display: block;
}
ul li ul li a {
    display: block !important;
}
ul li ul li:hover {
    background: rgb(218, 218, 218);
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 20px 40px 0 rgba(0,0,0,0.2);
}
